name: test

on:
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Note: curl, tar, build-essential, and cmake are already installed
      - run: |
          sudo apt-get update
          sudo apt-get install mesa-vulkan-drivers vulkan-tools libvulkan-dev vulkan-validationlayers
      - run: |
          ./install_dxc.sh
          ./dxc_compile.sh
          ./build.sh
      - run: ./example-app
